<!DOCTYPE html>
<html>
<head>
<style>
    li a {
        height: 100px;
        display: block;
    }
    
</style>
     <title>Library</title>
<body style=" margin: 0;background-color: rgb(240, 227, 209);">
    <p>
        <ul style="width: 15%;height: 100%;margin: 0;padding: 0;background-color: rgb(157, 192, 157);position: fixed;">
            <h3>Navigation Bar</h3>
            <li><a href="home.html">Homepage</a></li>
            <li><a href="books.html">Books</a></li>
        </ul>
    </p>
    <h1 style="margin-left: 15%; text-align: center; ">Book Lists Page</h1>
    <hr />
    <div style="margin-left: 20%; display: grid; float: left;">
        <a href="bookdetail.html">
            <img style="margin-bottom: 30px;" src="catcherintherye.jpg" alt="The Catcher In The Rye" width="150" height="200" />
        </a>
        <a href="bookdetail2.html">
            <img style="margin-bottom: 30px;" src="lotr.jpg" alt="The Lord of the rings Fellowship of the Ring" width="150" height="200" />
        </a>
        <a href="bookdetail3.html">
            <img style="margin-bottom: 30px;" src="hptr.jpg" alt="Harry Potter and the deathly Hallows book" width="150" height="200" />
        </a>
    </div>
    <div style="display: grid; padding: 70px;"> 
        <a style="vertical-align: middle; margin-bottom: 200px;" href="book1.html">The Cather In the Rye</a>
        <a style="vertical-align: middle; margin-bottom: 200px;" href="book2.html">Lord Of the Rings: The Fellowship of the Ring</a>
        <a style="vertical-align: middle; margin-bottom: 30px;" href="book3.html">Harry Potter And the Deathly Hallows</a>
    </div>
</body>
</head>
</html>