<!DOCTYPE html>
<html>
<head>
<style>
    li a {
        height: 100px;
        display: block;
    }
</style>
     <title>Library</title>
<body style=" margin: 0;background-color: rgb(240, 227, 209);">
    <p>
        <ul style="width: 15%;height: 100%;margin: 0;padding: 0;background-color: rgb(157, 192, 157);position: fixed;">
            <h3>Navigation Bar</h3>
            <li><a href="home.html">Homepage</a></li>
            <li><a href="books.html">Books</a></li>
        </ul>
    </p>
    <h1 style="margin-left: 15%; text-align: center; ">Welcome to the Mobasery Library</h1>
    <hr />
    <div style="margin-left: 15%; position: relative;">
        <p>This is a small Website that help our Library to help readers find specific books of interest. Users can further explore our website by going through the options in the Navigation Bar.</p>
        <p>The Website consist of various different pages the user can explore.</p>
        <ul>
            <li>Homepage: The Welcome page of the Library</li>
            <li>Book List page: This page consist of the lists of books available in the Library</li>
            <li>Book details page: This page consist of the details of each book</li>
            <li>Contact Us page: The uses can find our contact information and the location of the Library</li>
            <li>Survey page: Users can Volunteer to participate in our Survey</li>
        </ul>
        <p>Please feel free to explore our website, and while you are here, Enjoy!</p>
    </div>
    
</body>
</head>
</html>